/*  */
.tag-container {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 16px 40px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.tag-container.blue {
    background: url(../img/gl/mapBlueFame.png) no-repeat center;
    width: 120px;
    height: 60px;
    background-size: 100% 100%;

}

.tag-container.orange {
    background: url(../img/gl/mapOrangeFame.png) no-repeat center;
    width: 150px;
    height: 80px;
    background-size: 100% 100%;
}

.tag-container > .tag-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue > .tag-title {
    color: #07c5ec;
    font-size: 12px;
}

.orange > .tag-title {
    color: #fab20c;
    font-size: 14px;
}
